@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.default-orange {
  background: #CC5500;
  color: white;
}

.brand-font {
  font-family: 'Jetbrains Mono', monospace;
  font-weight: bolder;
  letter-spacing: -3px;
}

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
  background: #222222;
  color: white;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo {
  max-width: 100px;
}

.nav-logo-text {
  font-family: 'Jetbrains Mono', monospace;
  font-weight: bolder;
  font-size: 2em;
  letter-spacing: -3px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
}

.link a::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background: #CC5500;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  background: #CC5500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #803500;
}

header {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
}

header h1 {
  font-size: 3rem;
}

header h1 span {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

header p {
  font-size: 1.2rem;
  font-family: 'Jetbrains Mono', monospace;
}

.exp-educ {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.experience {
  position: relative;
  width: 50%;
}

.experience h2 {
  margin: 8px 25px;
}


.experience-container {
  display: flex;
  flex-direction: column;
}

.experience-card {
  position: relative;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-left: 1px solid white;
}

.experience-card::before {
  content: '';
  position: absolute;
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 0;
  left: -10px;
}

.text {
  padding: 1.5rem;
  border: 1px solid #CC5500;
  border-radius: 5px;
}

.text > .dates {
  font-size: 16px;
  color: #CC5500;
}

.text > .dates > i {
  color: #CC5500;
  margin-right: 8px;
}

.text h2, .text h3 {
  margin: 8px 0;
}

.text > p {
  font-size: 18px;
  text-align: justify;
} */