* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #36454f;
  color: white;
}

.container { 
  padding: 1em;
}

header {
  padding: 0 0 1em 0;
}

.font-jetbrains {
  font-family: 'JetBrains Mono', monospace;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation > h1 {
  font-weight: 900;
}

.navigation-links {
  margin: 0 auto;
}

.navigation-links > ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
  margin-right: 10em;
}

.navigation-links > ul > li > a {
  text-decoration: none;
  color: gray;
}

.navigation-links > ul > li > a:hover {
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-container > h1 {
  font-family: 'Sarabun', sans-serif;
  font-size: 6em;
}

.home-container > h2 {

}