@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree';

    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: #4831d4;
}

.header-content {
    width: 800px;
    display: flex;
    align-items: center;
}

.header-content > h2 {
    color: white;
    width: 50%;
    padding: 0 0 0 10px;
    margin: 0;
}

.header-content > nav {
    width: 50%;
}

.header-content > nav > ul {
    list-style: none;
    color: black;

    margin: 0;
    padding: 0;

    float: right;
}

.header-content > nav > ul > li {
    display: inline;
    margin-right: 2em;
    color: white;

    font-weight: lighter;
}

.highlight {
   color: white;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: white;
}

.highlight {
    color: #4831d4;
}
/* #F38701 */