* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';

    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    height: 100vh;
    width: 15%;
    background: #000;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1.5em;

    padding-top: 2em;
}

.profile-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.profile-frame {
    background: url("/img/profile.jpeg");
    width: 12em;
    height: 12em;
    border-radius: 50%;
    background-size: cover;
}

main {
    width: 85%;
    margin-left: 15%;
}

main > section {
    padding: 2em;
}

main > section:nth-child(3) {
    background-color: rgba(100,100,300, 3%);
}


main > section > h2 {
    font-size: 2em;
}

.social-links > a > img {
    width: 2.3em;
    height: auto;
}

.social-links {
    display: flex;
    column-gap: 1em;
    justify-content: center;
}

.circular-icon {
    background: rgb(100,100,100);
    border-radius: 50%;
    filter: grayscale();
}

.circular-icon:hover {
    background: rgb(100,100,300);
    transition: .5s;
    filter: none;
}

nav {
    padding-left: 2em;
}

nav > ul {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    align-items: start;
}

nav > ul > li > a {
    color: #818589;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: white;
    transition: .5s;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(100,100,300);
    color: white;
    height: 100vh;
}

#home > div > h3 {
    font-size: 2em;
}

#home > div > h1 {
    font-size: 5em;
}

#role-text {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-color: rgb(100,100,300);
    border-right: 3px solid black;
    animation: cursor 0.5s infinite;
    padding-right: .1em;
}

@keyframes cursor {
    0% {
        border-color: white;
    }
    50% {
        border-color: black;
    }
    100% {
        border-color: white;
    }
}

.resume-article-container > article {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    row-gap: .8em;
}

.resume-article-container > article > h4, .resume-item > h4 {
    text-transform: uppercase;
    font-size: 1.2em;
}

.resume-item {
    row-gap: .8em;
    margin-top: 1em;
    padding-right: 5em;
    display: flex;
    flex-direction: column;
}

.resume-item > h5 {
    padding: .5em;
    background-color: rgba(100,100,300, 15%);
    width: fit-content;
}

.resume-header {
    font-size: 1.5em;
}

.work-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.divider {
    height: 3px;
    width: 5em;
    background: rgb(100,100,300);
    margin-top: 1em
}